<div class="main-container">
    <div class="main-header">
        <div class="header-leftdv">
            <div class="check-drop">
                <div class="check-dv">
                    <app-checkbox></app-checkbox>
                </div>
                <div class="arrow">
                    <div class="down-arrow">
                        <span class="material-symbols-outlined" id="drop-arrow">arrow_drop_down</span>
                    </div>
                </div>
            </div>
            <div class="refresh-more">
                <div class="refresh-dv">
                    <span class="material-symbols-outlined nano">refresh</span>
                </div>
                <div class="more-dv">
                    <span class="material-symbols-outlined nano">more_vert</span>
                </div>
            </div>
        </div>
        <div class="header-rightdv">
            <div class="count-dv">1-50 of 125</div>
            <div class="navigation">
                <div class="left-navigation">
                    <span class="material-symbols-outlined nano">navigate_before</span>
                </div>
                <div class="right-navigation">
                    <span class="material-symbols-outlined nano">navigate_next</span>
                </div>                
            </div>
            <div class="keyboard">
                <span class="material-symbols-outlined ">keyboard</span>
            </div>
            <div class="arrow">
                <div class="down-arrow">
                    <span class="material-symbols-outlined" id="drop-arrow">arrow_drop_down</span>
                </div>
            </div>
        </div>
    </div>    
    <div class="mails-dv">
       <router-outlet></router-outlet>
    </div>
    
</div>
